{% extends 'core/base_dashboard.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}
{% block style %}
<style>
    .dashboard .staticCards .card {
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border: none;
        display: flex;
        flex-direction: column;
        background: #fff;
        overflow: hidden;
        position: relative;
        padding: 20px;
    }
    .dashboard .staticCards .card h5 {
        font-size: 0.9rem;
        font-weight: bold;
        animation: fadeInUp 0.6s ease;
    }
    .dashboard .staticCards .card h2 {
        font-family: 'Parkinsans', sans-serif;
        font-size: 0.9rem;
        text-align: start;
        animation: fadeInUp 0.8s ease;
    }

    .dashboard .staticCards .card:hover {
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
        cursor: all-scroll;
    }

    .icon-3d {
        padding: 8px 13px;
        font-size: 20px;
        transition: transform 0.3s ease, color 0.3s ease;
        display: inline-block;
        transform-origin: center;
    }

    .card:hover .icon-3d {
        transform: scale(1.05) rotateY(0deg) rotateX(0deg);
    }

    /* Glow effect for icons */
    .card .icon-3d::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        background: radial-gradient(circle, #8B5DFF, rgba(255, 255, 255, 0));
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 50%;
        z-index: -1;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .card:hover .icon-3d::after {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.5);
    }


    /* Fade-in animation */
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .chart-container {
        position: relative;
        width: 300px; /* Set the desired width */
        height: 300px; /* Set the desired height */
        margin: 0 auto; /* Center the chart */
    }
    .card canvas {
        width: 100% !important;
        height: 100% !important;
    }
    .card {
        transition: transform 0.3s, box-shadow 0.3s;
    }
    .card:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
    .list-group-item {
        border: none;
        padding: 0.75rem 1rem;
        background-color: #f8f9fa;
    }
    .list-group-item:hover {
        background-color: #e9ecef;
    }
    .text-primary {
        font-weight: 600;
    }
    canvas {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
</style>

{% endblock %}

{% block content %}
<div class="container mt-3 dashboard">

    <div class="row staticCards  ">
        <!-- Total des Utilisateurs -->
        <div class="col-md-3 ">
            <div class="card  shadow d-flex flex-row  align-items-center" style="background-color: #A5BFCC;">
                <div class="me-4">
                    <i class="bi bi-person-fill icon-3d rounded-circle shadow" style="background-color: #ffffff62;color: #AF1740;"></i>
                </div>
                <div>
                    <h2>{{ new_students }} + </h2>
                    <h5>Nouvelle Etudiants</h5>
                </div>
            </div>
        </div>
    
        <div class="col-md-3 ">
            <div class="card  shadow d-flex flex-row  align-items-center" style="background-color: #615EFC;color: #fff;">
                <div class="me-4">
                    <i class="bi bi-book icon-3d rounded-circle shadow " style="background-color: #ffffff62;color: #213555;"></i>
                </div>
                <div>
                    <h2>{{ total_modules }} + </h2>
                    <h5>Nombre de modules</h5>
                </div>
            </div>
        </div>
    
        <div class="col-md-3 ">
            <div class="card  shadow d-flex flex-row  align-items-center" style="background-color: #608BC1;color: #fff;">
                <div class="me-4">
                    <i class="bi bi-grid icon-3d rounded-circle shadow" style="background-color: #ffffff62;color: #fff;"></i>
                </div>
                <div>
                    <h2>{{ total_filiere }} + </h2>
                    <h5>Nombre de filieres</h5>
                </div>
            </div>
        </div>
     
        <div class="col-md-3 ">
            <div class="card  shadow d-flex flex-row  align-items-center" style="background-color: #AF1740;color: #fff;">
                <div class="me-4">
                    <i class="bi bi-person-x icon-3d rounded-circle shadow" style="background-color: #635db7d0;color: #fff;"></i>
                </div>
                <div>
                    <h2>{{ student_Suspended }} + </h2>
                    <h5>Etudiants Suspendu</h5>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col">
            <!-- Graphique des Utilisateurs -->
            <div class="card mt-4 p-4 rounded border-0">
                <h5 class="" style="font-size: 1.1em;color: #4335A7; font-family: 'Parkinsans', sans-serif;">
                    <i class="bi bi-person-lines-fill" style=" margin-right: 8px;"></i> <!-- Bootstrap icon for users -->
                    Statistiques des Utilisateurs
                </h5>
                <canvas id="usersChart"></canvas>
            </div>
        </div>
        <div class="col">
                <!-- Moyenne des Notes des Modules -->
                <div class="card mt-4 p-4 rounded border-0">
                    <h5 class="" style="font-size: 1.1em; color: #4335A7; font-family: 'Parkinsans', sans-serif;">
                        <i class="bi bi-bar-chart-line-fill" style="margin-right: 8px;"></i> <!-- Bootstrap icon for performance -->
                        Performance Moyenne des Modules
                    </h5>                    
                    <canvas id="notesChart"></canvas>
                </div>
        </div>
    </div>

    <!-- Section des modules et notes -->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card  p-4 shadow-sm rounded border-0">
                <div class="row align-items-start justify-content-between mb-4">
                    <!-- Title on the left -->
                    <div class="col-auto">
                        <h5 class="" style="font-size: 1.1em; color: #4335A7; font-family: 'Parkinsans', sans-serif;">
                            <i class="bi bi-journal-bookmark-fill" style="margin-right: 8px;"></i> <!-- Bootstrap icon added -->
                            Modules par Semestre et Filière
                        </h5>
                    </div>
                
                    <!-- Semester Filter Form on the right -->
                    <div class="col ms-auto">
                        <form method="get" action="{% url 'dashboard' %}" id="semester-filter-form">
                            <div class="mb-3">
                                <select id="semester_filter" name="semester" onchange="document.getElementById('semester-filter-form').submit()" class="form-select ms-auto p-1 border border-dark shadow shadow-sm">
                                    <option value="">Tous les Semestres</option>
                                    {% for semester in semestres %}
                                        <option value="{{ semester }}"  {% if semester == request.GET.semester %}selected{% endif %}>{{ semester }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                
        
                {% if modules_by_semester_by_filiere %}
                    <ul class="list-group">
                        {% for module in modules_by_semester_by_filiere %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="w-50" style="font-family: 'Parkinsans', sans-serif;">
                                    {{ module.filiere__nom }}
                                </span>
                                <span class="badge bg-success text-light rounded-pill">
                                    {{ module.module_count }} modules
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="alert alert-warning mt-3">
                        Aucun module trouvé pour les semestres et filières disponibles.
                    </div>
                {% endif %}
            </div>
        </div>
        
        
        
        <div class="col-md-6">
            <div class="card  p-4 border-0">
                <h5 class="" style="font-size: 1.1em;color: #4335A7;font-family: 'Parkinsans',sans-serif;">
                    <i class="bi bi-person-fill" style=" margin-right: 8px;"></i>
                    Nombre d'Étudiants par Filière
                </h5>
                <canvas id="filiereChart"></canvas>
            </div>
        </div>
        
        
    </div>

    <!-- Section des articles et slides -->
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card shadow  p-4 border-0">
                <h5 class="" style="font-size: 1.1em;color: #4335A7;font-family: 'Parkinsans',sans-serif;">
                    <i class="bi bi-bar-chart" style=" margin-right: 8px;"></i>
                    Distribution des Étudiants par Statut
                </h5>
                <canvas id="studentsChart" style="max-height: 200px;"></canvas>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow p-4 border-0">
                <h5 class="" style="font-size: 1.1em;color: #4335A7;font-family: 'Parkinsans',sans-serif;">
                    <i class="bi bi-person-fill" style=" margin-right: 8px;"></i>
                    Top 5 Performing Students
                </h5>
                <table class="border-0  table table-rounded  mt-3 " style="font-size: 0.85rem; ">
                    <thead >
                        <tr >
                            <th class="text-light" style="background-color: #4DA1A9;">Name</th>
                            <th class="text-light" style="background-color: #4DA1A9;">Total Grade</th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for etudiant in top_five_etudiants %}
                        <tr>
                            <td>
                                {% if etudiant.image %}
                                    <img src="{{ etudiant.image.url }}" alt="" class="rounded-circle me-2" style="border: 3px solid rgb(94, 255, 0);" width="30" height="30">
                                {% else %}
                                    <i class="bi bi-person-circle me-2 h4" ></i>
                                {% endif %}
                            {{ etudiant.nom }} {{ etudiant.prenom }}</td>
                            <td>{{ etudiant.total_grade }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
              
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card shadow  p-4 border-0">
                <h5 class="" style="font-size: 1.1em;color: #4335A7;font-family: 'Parkinsans',sans-serif;">
                    <i class="bi bi-graph-up-arrow " style=" margin-right: 8px;"></i>
                    Comparaison des données annuelles
                </h5>
                <canvas id="myChart" style="max-height: 300px;"></canvas>
            </div>
        </div>
    </div>

</div>



{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    // Graphique des utilisateurs (Line Chart)
const ctxUsers = document.getElementById('usersChart').getContext('2d');

new Chart(ctxUsers, {
    type: 'line', // Changed from bar to line chart
    data: {
        labels: ['Total', 'Encadrants', 'Enseignants', 'Etudiants'],
        datasets: [{
            label: 'Utilisateurs',
            data: [{{ total_users }}, {{ encadrants_count }}, {{ enseignants_count }}, {{ total_students }}],
            backgroundColor: 'rgba(76, 175, 80, 0.2)', // Light background for the line
            borderColor: '#4CAF50', // Line color
            pointBackgroundColor: '#4CAF50', // Point color on the line
            pointBorderColor: '#FFFFFF', // White point border
            pointRadius: 6, // Slightly larger points for visibility
            pointHoverRadius: 8, // Larger points on hover
            borderWidth: 3, // Thicker line for better visibility
            fill: true, // Fill the area under the line
            tension: 0.4, // Smooth curve for the line
        }]
    },
    options: {
        responsive: true, // Make the chart responsive
        plugins: {
            legend: {
                display: true, // Display the legend
                position: 'top', // Position the legend at the top
                labels: {
                    font: {
                        size: 14,
                    },
                    color: '#000', // Dark color for legend labels
                }
            },
            tooltip: {
                enabled: true, // Enable tooltips
                backgroundColor: 'rgba(0, 0, 0, 0.8)', // Dark background for tooltips
                titleColor: '#FFFFFF', // White title color
                bodyColor: '#FFFFFF', // White body text
                borderColor: '#FF5722', // Tooltip border color
                borderWidth: 1, // Tooltip border width
                callbacks: {
                    label: function(tooltipItem) {
                        return tooltipItem.label + ': ' + tooltipItem.raw + ' utilisateurs'; // Customize tooltip label
                    }
                }
            }
        },
        scales: {
            x: {
                title: {
                    display: false,
                }
            },
            y: {
                title: {
                    display: true,
                    text: 'Nombre d\'Utilisateurs',
                    font: {
                        size: 14,
                    }
                },
                ticks: {
                    beginAtZero: true,
                    stepSize: 10, // Step size for Y-axis ticks
                    font: {
                        size: 12,
                        weight: 'bold'
                    },
                    color: '#333' // Dark color for Y-axis labels
                },
                grid: {
                    display: true,
                    color: '#f0f0f0', // Light grid lines
                    borderColor: '#ddd', // Light border for Y-axis grid
                }
            }
        },
        animation: {
            duration: 1000, // Animation duration (in ms)
            easing: 'easeInOutQuad', // Smooth easing for animation
            onComplete: function() {
                console.log('Line chart animation completed!');
            }
        }
    }
});


// Graphique des étudiants par statut (Pie Chart)
const ctxStudents = document.getElementById('studentsChart').getContext('2d');

// Data for the pie chart
const studentsLabels = [
    {% for student in students_by_status %}
        '{{ student.statut }}'{% if not forloop.last %},{% endif %}
    {% endfor %}
];

const studentsData = [
    {% for student in students_by_status %}
        {{ student.count }}{% if not forloop.last %},{% endif %}
    {% endfor %}
];

// Create the chart with smooth animations and enhanced styling
new Chart(ctxStudents, {
    type: 'pie',
    data: {
        labels: studentsLabels,
        datasets: [{
            data: studentsData,
            backgroundColor: ['#982B1C', '#387478', '#9C27B0', '#673AB7'],
            hoverBackgroundColor: ['#800000', '#243642', '#D81B60', '#512DA8'],
            borderWidth: 2
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                position: 'left',
                labels: {
                    font: {
                        size: 14
                    },
                    padding: 20
                }
            },
            tooltip: {
                enabled: true,
                callbacks: {
                    label: function(tooltipItem) {
                        return tooltipItem.label + ': ' + tooltipItem.raw + ' Étudiants';
                    }
                }
            }
        },
        animation: {
            duration: 1000, // Smooth animation
            easing: 'easeOutBounce' // Bounce effect
        }
    }
});


// Graphique des Moyennes des Modules (Line Chart)
const ctxNotes = document.getElementById('notesChart').getContext('2d');

// Dynamically populated module labels and data
const moduleLabels = [
    {% for note in avg_notes_per_module %}
        '{{ note.module_nom }}'{% if not forloop.last %},{% endif %}
    {% endfor %}
];

const avgNotesData = [
    {% for note in avg_notes_per_module %}
        {{ note.avg_finale }}{% if not forloop.last %},{% endif %}
    {% endfor %}
];

new Chart(ctxNotes, {
    type: 'line',
    data: {
        labels: moduleLabels,
        datasets: [{
            label: 'Moyenne des Notes',
            backgroundColor: 'rgba(255, 87, 34, 0.2)', // Semi-transparent fill
            borderColor: '#FF5722', // Line color
            pointBackgroundColor: '#FF5722', // Point color
            pointBorderColor: '#FFFFFF', // Point border
            pointRadius: 5, // Point size
            pointHoverRadius: 7, // Hover size
            borderWidth: 2, // Line width
            tension: 0.4, // Smoothness of the line (0 for straight lines, closer to 1 for smoother curves)
            data: avgNotesData,
            fill: true // Fill the area under the line
        }]
    },
    options: {
        plugins: {
            legend: {
                display: true, // Show legend
            }
        },
        scales: {
            x: {
                title: {
                    display: true,
                    text: 'Modules'
                }
            },
            y: {
                title: {
                    display: true,
                    text: 'Moyenne des Notes'
                },
                beginAtZero: true // Start the Y-axis at 0
            }
        }
    }
});

    const data = {
        labels: [{% for filiere in filiere_statistics %}"{{ filiere.nom }}",{% endfor %}],
        datasets: [{
            label: 'Number of Students',
            data: [{% for filiere in filiere_statistics %}{{ filiere.student_count }},{% endfor %}],
            backgroundColor: ['#1F509A', '#FF5722', '#9C27B0', '#673AB7'],
            borderWidth: 0,
            borderRadius: 5
        }]
    };
    
    const config = {
        type: 'bar', // Bar chart type
        data: data,
        options: {
            indexAxis: 'y', // This makes the bar chart horizontal
            responsive: true,
            scales: {
                x: {
                    beginAtZero: true // Ensure the bars start from zero on the x-axis
                }
            },
            plugins: {
                legend: {
                    display: false,
                },
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.label + ': ' + tooltipItem.raw + ' students';
                        }
                    }
                }
            }
        }
    };
    
    const filiereChart = new Chart(
        document.getElementById('filiereChart'),
        config
    );
    

   
</script>
<script>
    var ctxSU = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctxSU, {
        type: 'line',  // Set the chart type to 'line'
        data: {
            labels: [
                {% for year in years reversed %}  <!-- Reverse the order of years -->
                    "{{ year }}", 
                {% endfor %}
            ],  // X-axis: years, reversed order
            datasets: [{
                label: 'Number of Students',
                data: [
                    {% for students in students_per_year reversed %}  <!-- Reverse the order of students data -->
                        {{ students }},
                    {% endfor %}
                ],  // Y-axis: students per year
                borderColor: 'rgba(75, 192, 192, 1)',  // Line color for students
                backgroundColor: 'rgba(75, 192, 192, 0.2)',  // Fill color under the line
                fill: true,
                tension: 0.4  // Smooth the line curve
            }, {
                label: 'Number of Users',
                data: [
                    {% for users in users_per_year reversed %}  <!-- Reverse the order of users data -->
                        {{ users }},
                    {% endfor %}
                ],  // Y-axis: users per year
                borderColor: 'rgba(153, 102, 255, 1)',  // Line color for users
                backgroundColor: 'rgba(153, 102, 255, 0.2)',  // Fill color for users line
                fill: true,
                tension: 0.4  // Smooth the line curve
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true  // Set the Y-axis to start from 0
                },
                x: {
                    reverse: false  // Make sure the X-axis starts from the left
                }
            }
        }
    });
</script>

{% endblock %}
