{% extends 'core/base_dashboard.html' %}
{% load static %}
{% block page_title %}
    Étudiants
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/Etudiants/index.css' %}">
{% endblock %}
{% block content %}
<div class="container containerEtudiant" style="font-family: 'Lato', sans-serif; font-weight: bolder;">
    <div class="row">
        <!-- Sidebar for Filters -->
        <div class="col-3" style="min-height: 70vh; background-color: #fff;">
            <!-- Filter Form -->
            <form method="get" class="mb-3">                
                <!-- Filière Dropdown -->
                <label style="color: #0A3981;">Filters :</label>
                <div class="form-group ms-2 mt-3" style="font-size: 0.9rem;">
                    <label for="filiere-select">Sélectionnez une Filière :</label>
                    <select id="filiere-select" name="filiere_id" class="form-control" onchange="resetGroupAndSubmit(this)">
                        <option value="" disabled {% if not selected_filiere %}selected{% endif %}>-- Choisissez une Filière --</option>
                        {% for filiere in filieres %}
                            <option value="{{ filiere.id }}" {% if filiere == selected_filiere %}selected{% endif %}>{{ filiere.nom }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Groupe Dropdown -->
                {% if groupes %}
                    <div class="form-group ms-2" style="font-size: 0.9rem;">
                        <label for="groupe-select">Sélectionnez un Groupe :</label>
                        <select id="groupe-select" name="groupe_id" class="form-control" onchange="this.form.submit()">
                            <option value="" disabled {% if not selected_groupe %}selected{% endif %}>-- Choisissez un Groupe --</option>
                            {% for groupe in groupes %}
                                <option value="{{ groupe.id }}" {% if groupe == selected_groupe %}selected{% endif %}>{{ groupe.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
            </form>
            <label style="color: #0A3981;">Top Étudiants :</label>
            <table style="font-size: 0.85rem;" class="table table-bordered mt-3 ms-2">
                <tr>
                    <th>Etudiant</th>
                    <th>Note Moyenne</th>
                </tr>
                {% if top_students %}
                        {% for etudiant in top_students %}
                        <tr>
                            <th>
                                {{ etudiant.nom }} {{ etudiant.prenom }}
                            </th>
                            <th>
                                <span class="badge bg-success rounded-pill">{{ etudiant.average_note|default:"N/A" }}</span>
                            </th>
                        </tr>
                        {% endfor %}
                {% else %}
                    <tr class="alert alert-info">Pas de top étudiants pour le moment.</tr>
                {% endif %}
            </table>
            
        </div>

        <!-- Main Content -->
        <div class="col-9">
            <div class="d-flex flex-row justify-content-between  align-items-end">
                <form  method="get" style="min-width: 30%;">
                    <div class="input-group">
                        <input type="text" id="search-input" name="search" style="font-size: small;" class="form-control shadow" placeholder="Rechercher un étudiant..." value="{{ search_query }}">
                        <button type="submit" class="btn btn-sm" title="Search" style="background-color: #8174A0;color: #fff;">
                            <span class="bi bi-search"></span>
                        </button>
                    </div>
                </form>
                <!-- Button to download CSV -->
                {% if etudiants %}
                <a href="{% url 'download_students_accounts' %}?group_id={{ selected_groupe.id }}" class="btn btn-sm btn-success mt-3">
                    <i class="bi bi-download"></i> Télécharger les Comptes des Étudiants
                </a>
                {% endif %}
                <a href="{% url 'create_etudiant' %}" class="btn btn-sm  text-light shadow" style="background-color: #1F509A;"><i class="bi bi-plus"></i> Ajouter</a>
            </div>
            <!-- Étudiants Table -->
            {% if etudiants %}
                <table class="table table-hover tableEtudiantsList rounded mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nom</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                            <th>Code</th>
                            <th>Statut</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for etudiant in etudiants %}
                            <tr>
                                <td>
                                    {% if etudiant.image %}
                                        <img src="{{ etudiant.image.url }}" alt="" class="rounded-circle me-2" style="border: 3px solid rgb(94, 255, 0);" width="30" height="30">
                                    {% else %}
                                        <i class="bi bi-person-circle me-2 h4" ></i>
                                    {% endif %}
                                    {{ etudiant.nom }} {{ etudiant.prenom }}
                                </td>
                                <td>{{ etudiant.email }}</td>
                                <td>{{ etudiant.telephone }}</td>
                                <td>{{ etudiant.cne }}</td>
                                <td>{{ etudiant.statut }}</td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <button title="dropdown" class="btn btn-sm" type="button" id="actionDropdown{{ etudiant.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="actionDropdown{{ etudiant.id }}">
                                            <li><a class="dropdown-item" href="{% url 'etudiant_detail' etudiant.id %}"><i class="bi bi-eye"></i> Voir</a></li>
                                            <li><a class="dropdown-item" href="{% url 'edit_etudiant' etudiant.id %}"><i class="bi bi-pencil"></i> Modifier</a></li>
                                            <li><a class="dropdown-item text-danger" href="{% url 'delete_etudiant' etudiant.id %}"><i class="bi bi-trash"></i> Supprimer</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation" class="paginationStudentsPage">
                    <ul class="pagination justify-content-end">
                        {% if etudiants.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ etudiants.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" aria-hidden="true">&laquo;</span>
                            </li>
                        {% endif %}
        
                        {% for num in etudiants.paginator.page_range %}
                            {% if etudiants.number == num %}
                                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
        
                        {% if etudiants.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ etudiants.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link" aria-hidden="true">&raquo;</span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% else %}
                <div class="alert alert-warning mt-4">Aucun étudiant trouvé dans ce groupe.</div>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function resetGroupAndSubmit(selectElement) {
        const form = selectElement.form;
        const groupeSelect = form.querySelector("#groupe-select");
        if (groupeSelect) {
            groupeSelect.value = "";
        }
        form.submit();
    }
</script>
{% endblock %}
